# **`Lab3 - Data Engineering & EDA with Python, SQL, and Pandas`**

##### **Name** - Manu Mathew
##### **CourseID** - PROG8245
##### **Course** - Machine Learning Programming
##### **Student ID** - 8990691

---

**Install required packages**

In [4]:
%pip install psycopg2-binary pandas faker

Requirement already satisfied: psycopg2-binary in ./lib/python3.13/site-packages (2.9.10)
Requirement already satisfied: pandas in ./lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: faker in ./lib/python3.13/site-packages (37.3.0)
Requirement already satisfied: numpy>=1.26.0 in ./lib/python3.13/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

`1 -- `
- Create a free SQL Database
- Create a table named employees with the following columns:
    - employee_id (integer, primary key)
    - name (string)
    - position (string, IT-related job titles)
    - start_date (date, between 2015 and 2024)
    - salary (integer, $60,000â€“$200,000)`

I have set up a Postgres database and also I have created the SQL table using the below SQL query

```SQL
CREATE TABLE employees (
  employee_id SERIAL PRIMARY KEY,
  name VARCHAR(50),
  position VARCHAR(50),
  start_date DATE,
  salary INTEGER
);